:root{
    --space-width: calc(var(--navbar-width) + 30px);
    --navbar-width-min: 80px;
}

.main-container{
    position: relative;
    width: calc(100% - 306px);
    left: 306px;
    padding-top: 40px;
}

.main-container .breadcrumb{
    font-family: var(--font-title) !important;
}
.main-container .breadcrumb a{
    text-decoration: none;
    color: #aaa;
}
.main-container .breadcrumb span{
    color: #586069 !important;
    font-weight: bold;
}

.main-container hr{
    border: none;
    border-bottom: 1px solid #bcbec1;
}

.main-container h1,
.main-container h2,
.main-container h3{
    font-family: var(--font-title);
    margin: 1.5rem 0;
    color: var(--color-blue);
}
.main-container h1{
    font-size: 3rem;
}
.main-container h2{
    margin-top: 2rem;
}
.main-container h3{
    font-size: 1.5rem;
}

.main-container .first-text{
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #586069;
}

.main-container p{
    font-family: var(--font-text);
    margin-bottom: 1rem;
    color: #586069;
}

/* .content-submenu{
    position: fixed;
} */
.content-submenu ul{
    border-left: 1px solid #e4e8ec;
    list-style: none;
    padding: .125rem 1.5rem;
    position: fixed;
}
.content-submenu ul li.submenu{
    padding-left: .7rem;
}
.content-submenu ul li.submenu a{
    color: #aaa !important;
    font-size: 14px;
}
.content-submenu ul li a{
    text-decoration: none;
    color: #586069;
    transition: ease .3s;
}
.content-submenu ul li a:hover,
.content-submenu ul li.submenu a:hover{
    color: #0054D1 !important;
}

.content-submenu ul li a.active{
    border-left: 3.5px solid var(--color-blue);
    color: var(--color-blue) !important;
    padding-left: 5px;
}

@media (max-width: 768px){
    .main-container{
    width: calc(100% - 120px);
    left: 120px;
    }
}